<!DOCTYPE html>
<html>
  <body>
    <header>
      <nav>
        <div class="topnav">
          <a class="logo" href="#home">My Blog</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="users-wrap">
        <% @users.each do |user| %>
        <a href="/users/<%= user.id %>">
          <div class="users-container">
            <div class="user-img">
              <%= image_tag user.photo %>
            </div>
            <div class="user-card">
              <h3> <%= user.name %> </h3>
              <p> Number of posts: <%= user.postsCounter %></p>
        </a>
        </div>
        </div>
        <% end %>
      </div>
    </main>
  </body>
</html>