<!DOCTYPE html>
<html>
<body>

<h1>posts page</h1>
<p>Here is the posts page for a given user</p>
<ul>
<li>Post 1</li>
<li>Post 2</li>
<li>Post 3</li>
</ul>
<% @posts.each do |p|%>
  posts data
<% end %>
</body>
</html>
